{
    "parser": "babel-eslint",
    "extends": [
        "airbnb"
    ],
    "env": {
        "browser": true
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "webpack.config.js"
            }
        }
    },
    "rules": {
        "max-len": [
            "warn",
            {
                "code": 200,
                "ignoreTemplateLiterals": true,
                "ignoreStrings": true,
                "ignoreTrailingComments": true,
                "ignoreComments": true,
                "ignoreRegExpLiterals": true
            }
        ],
        "padded-blocks": "off",
        "camelcase": "off",
        "indent": [
            "error",
            2,
            {
                "SwitchCase": 1
            }
        ],
        "consistent-return": "off",
        "radix": [
            "error",
            "as-needed"
        ],
        "prefer-promise-reject-errors": "off",
        "class-methods-use-this": "off",
        "no-underscore-dangle": "off",
        "no-plusplus": "off",
        "no-shadow": "off",
        "no-param-reassign": "off",
        "no-use-before-define": [
            "error",
            {
                "functions": false,
                "classes": true
            }
        ],
        "no-mixed-operators": "off",
        "import/no-extraneous-dependencies": 0,
        "import/first": "off",
        "import/prefer-default-export": "off",
        "jsx-a11y/mouse-events-have-key-events": "warn",
        "jsx-a11y/anchor-is-valid": [
            "warn",
            {
                "components": [
                    "a"
                ]
            }
        ],
        "jsx-a11y/label-has-for": [
            "error",
            {
                "required": {
                    "some": [
                        "nesting",
                        "id"
                    ]
                }
            }
        ],
        "react/jsx-curly-spacing": [
            "error",
            {
                "when": "never",
                "children": {
                    "when": "always"
                }
            }
        ],
        "react/jsx-indent": [
            "error",
            2
        ],
        "react/jsx-indent-props": [
            "error",
            2
        ],
        "react/jsx-filename-extension": 0,
        "react/forbid-prop-types": "off",
        "react/no-typos": "off",
        "react/require-default-props": "off",
        "react/sort-comp": "off",
        "react/style-prop-object": "off",
        "react/jsx-one-expression-per-line": "off"
    }
}